* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.header {
  background-color: rgb(205, 92, 92);
  padding: 20px;
  height: 20vh;
}
.header h1 {
  color: #fff;
  width: 300pxx;
  margin-bottom: 10px;
}
.main {
  background-color: rgb(190, 82, 82);
  padding: 20px;
  color: #fff;
  line-height: 30px;
  height: 70vh;
}
.main ul {
  padding-left: 20px;
}
.footer {
  background-color: rgb(180, 72, 72);
  text-align: center;
  padding: 20px 0;
  height: 10vh;
}
.footer a {
  color: #fff;
  text-decoration: none;
}
.img {
  width: 250px;
  height: 250px;
}
