* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.superior {
  padding: 20px;
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid silver;
}
.superior img {
  width: 100px;
  height: 100px;
}
.superior h1 {
  font-size: 15pt;
  text-align: center;
  width: 50vw;
}
.superior h2 {
  font-size: 13pt;
  text-align: center;
  width: 50vw;
}
.container {
  display: flex;
  flex-direction: row;
  padding: 20px;
}
.mensagem {
  width: 30vw;
  height: 80vh;
  border-right: 1px solid silver;
}
.conteudo {
  width: 70vw;
  height: 80vh;
}
